@import "../node_modules/bootstrap/scss/bootstrap.scss";
$bg:#5C4E5F;
$container-primary:#ffffff;
$container-secondary:#e5e5e5;
body {
    background-color: $bg;
}

$white:#ffffff;
.color-white {
    color: $white;
}

.path {
    fill: #ffffff;
    animation-name: change;
    animation-duration: 2s;
    -webkit-animation: change 2s infinite;
    /* Safari 4+ */
    -moz-animation: change 2s infinite;
    /* Fx 5+ */
    -o-animation: change 2s infinite;
    /* Opera 12+ */
    animation: change 2s infinite;
    /* IE 10+, Fx 29+ */
}

@keyframes change {
    0% {
        fill: #ffffff;
    }
    50% {
        fill: #F9784F;
    }
    100% {
        fill: #129ECB;
    }
}

h1,
h5 {
    position: relative;
    top: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

.container-fluid {
    margin-top: 1rem;
    width: 98%;
    border-radius: 13px;
    .logo {
        font-family: 'Baloo 2', cursive;
        font-weight: 700;
    }
}

.bg-main {
    background-color: $bg;
    height: max-content;
}

.navbar-nav {
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: large;
}

.nav-link {
    margin-right: 1rem;
}

.catageories {
    padding-top: 1rem;
    height: 50%;
    text-align: center;
    padding-bottom: 8rem;
}

.events {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    width: 5rem;
    height: 5rem;
    border-radius: 6px;
    background-color: #e5e5e5;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

.events:hover {
    border: $bg solid 2px;
    cursor: pointer;
}

.events-mob {
    position: relative;
    margin-bottom: 3rem;
    top: 50%;
    width: 90%;
    height: 5rem;
    border-radius: 6px;
    background-color: #e5e5e5;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}

.events-mob:hover {
    border: $bg solid 2px;
    cursor: pointer;
}

.m-1 {
    color: #5C4E5F;
}

.design:hover {
    fill: #fff;
}